.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 50px;
    margin-top: 30px;
    margin-right: 60px;
    background-color: transparent;
    p{
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }
    p.dark-mode-true{
        color: white;
    }
    p.dark-mode-false{
        color: black;
    }
    :hover{
        cursor:pointer;
    }
}